
@mixin SectionContainer {
    width: calc(100% - 2 * $margin-screen-desktop);
  
    @media screen and (min-width: 768px) and (max-width: 1024px){
      width: calc(100% - 2 * $margin-screen-tablet);
    }
  
    @media screen and (max-width: 767px){
      width: calc(100% - 2 * $margin-screen-mobile);
    }
  }
  @mixin link {
    text-decoration: none;
    color: black;
    &:hover {
        opacity: 0.6;
    }
  }